/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
@media only screen and (min-width: 765px) {

  header ul.top_tools > li a.btn_search_mob:before , li a.btn_cat_mob{
    display: none !important;
  }

 }

 #forgot_pw{
 	min-height: 0px;
 }

 .fileupload {
  position: relative;
}

input[type=file] {
  background-color: #fff;
  border: 1px solid #dddddd;
  padding: 5px;
  height: auto;
  color: #999;
  border-radius: 3px;
}

input[type=file]::-webkit-file-upload-button, input[type=file].invalid::-webkit-file-upload-button, input[type=file].valid::-webkit-file-upload-button {
  color: #fff;
  font-size: 13px;
  border: 0;
  border-radius: 3px;
  padding: 8px 10px 8px 38px;
  background: #8A2BE2 url(../img/camera.svg) 8px center no-repeat;
  outline: none;
}

 /*.dropdown-access .dropdown-menu ul {
  margin: -15px -15px -15px -15px;
  padding: 0;
}*/

header ul.top_tools > li a.notification:before {
  content: "\e6c5";
}

header ul.top_tools > li a.access_link strong {
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 700;
  width: 16px;
  height: 16px;
  text-indent: 0;
  display: block;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: -3px;
  line-height: 17px !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 767px) {
  header ul.top_tools > li a.access_link strong {
    bottom: -3px;
  }
}

header.version_1 .main_header ul.top_tools > li a.access_link strong {
  background-color: #083487;
  color: #fff !important;
}
@media (max-width: 767px) {
  header.version_1 .main_header ul.top_tools > li a.access_link strong {
    bottom: 10px;
  }
}

header.version_1 .main_nav ul.top_tools > li a.access_link strong {
  background-color: #083487;
  color: #fff !important;
}

.reply-dialog {
  background: #fff;
  padding: 30px;
  padding-top: 0;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/* Popup close button*/
.reply-dialog .mfp-close {
  color: #666;
  background-color: #e4e4e4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 12px;
  right: 20px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.reply-dialog .mfp-close:hover {
  color: #fff;
  background-color: #66676b;
}

.reply-dialog .mfp-close:before {
  font-size: 16px;
  font-family: 'themify';
  content: "\e646";
}

.modal_header {
  font-size: 18px;
  width: calc(100% + 60px);
  position: relative;
  left: -30px;
  top: 0;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  border-radius: 4px 4px;
  display: inline-block;
  background-color: #f6f6f6;
  padding: 18px 20px 15px 20px;
  margin-bottom: 30px;
}
.modal_header h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
}

.reply-dialog .form-group {
  position: relative;
}

.reply-dialog .form-group input.form-control {
  padding-left: 40px;
}

.reply-dialog .form-group > i {
  font-size: 21px;
  font-size: 1.3125rem;
  position: absolute;
  left: 10px;
  top: 32px;
  color: #ccc;
  width: 25px;
  height: 25px;
  display: block;
  font-weight: 400 !important;
}